@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&family=Dela+Gothic+One&display=swap');

.keyboardAvoidingContainer {
  text-align: center;
  font-family:'Azeret Mono', monospace;
  background-color: #7C8C5A;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid black;
}

.header {
  text-align: center;
  font-family: 'Azeret Mono', monospace;
  background-color: #A3C9D9;
}

.row {
  text-align: center;
  align-items: center;
  font-family: 'Azeret Mono', monospace;
  /* background-color: #A3C9D9; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
